<h1 align="center"><font color="blue">Editing Data</font></h1>
<style type="text/css">
  .bb{
    background-color:#00ff80; 
 }
</style>
<div class="bb">
<%= render 'form', camera: @camera %>
<%= link_to 'Show', @camera %> |
<%= link_to 'Back', cameras_path %>
</div>