<h1 align="center"><font color="green">New booking registration form</font></h1>
<style type="text/css">
  .cc{
    background-color: #80ff00;
 }
</style>
<div class="cc">
<%= render 'form', camera: @camera %>
<div align="center">
<%= link_to 'Back', cameras_path,class: "btn btn-primary" %>
</div>
</div>
